Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Đẩy toàn bộ truy cập vào thư mục public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>